* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0b498f;
  --gray-100: #c4c4c4;
  --gray-200: #00000080;
  --black: #000;
  --white: #fff;

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

.header,
.presentation,
.about-us,
.services,
.bottom-slogan,
.footer {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.about-us,
.services,
.bottom-slogan-container,
.footer {
  margin-top: 8rem;
}

/* Header */
.header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 11.6rem;
}

.header__cta {
  text-decoration: none;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  width: 13rem;
  height: 3.2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* Presentation */
.presentation {
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation__description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation__title {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
}

.presentation__text {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--gray-200);
  text-align: center;
  margin-top: 2rem;
}

.presentation__cta {
  background-color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--white);
  width: 22.5rem;
  height: 5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 4rem;
  transition: filter 250ms;
}

.presentation__cta:hover {
  filter: brightness(1.2);
}

.presentation__image {
  margin-top: 4rem;
  max-width: 26.2rem;
}
