* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0b498f;
  --gray-100: #c4c4c4;
  --gray-200: #00000080;
  --black: #000;
  --white: #fff;

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

.header,
.presentation,
.about-us,
.services,
.bottom-slogan,
.footer {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.about-us,
.services,
.bottom-slogan-container,
.footer {
  margin-top: 8rem;
}

/* Header */
.header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 11.6rem;
}

.header__cta {
  text-decoration: none;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  width: 13rem;
  height: 3.2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* Presentation */
.presentation {
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation__description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation__title {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
}

.presentation__text {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--gray-200);
  text-align: center;
  margin-top: 2rem;
}

.presentation__cta {
  background-color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--white);
  width: 22.5rem;
  height: 5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 4rem;
  transition: filter 250ms;
}

.presentation__cta:hover {
  filter: brightness(1.2);
}

.presentation__image {
  margin-top: 4rem;
  max-width: 26.2rem;
}

/* About us */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__tag {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--gray-100);
  text-align: center;
  display: block;
}

.about-us__title {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
  margin-top: 3rem;
}

.about-us__company-name-in-title {
  color: var(--gray-100);
}

.about-us__text {
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  color: var(--gray-200);
  margin-top: 2rem;
}

.about-us__image {
  margin-top: 5rem;
  max-width: 27.4rem;
}

/* Services */
.services__tag {
  font-size: 1.8rem;
  color: var(--gray-100);
  display: block;
  font-weight: 600;
  text-align: center;
}

.services__title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
  color: var(--black);
}

.services__item {
  margin-top: 4rem;
}

.services__image-item {
  display: block;
  margin: 0 auto 2rem auto;
  width: 6.6rem;
}

.services__description-item {
  text-align: center;
  display: block;
}

/* Bottom slogan */
.bottom-slogan-container {
  background-color: #c4c4c40f;
  padding: 3rem 0;
}

.bottom-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-slogan__tag {
  color: var(--gray-100);
  font-size: 1.8rem;
}

.bottom-slogan__text {
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-top: 1.5rem;
  font-weight: 600;
}

.bottom-slogan__cta {
  width: 13.5rem;
  height: 3.8rem;
  background: var(--primary-color);
  display: block;
  font-size: 1rem;
  color: var(--white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 1.5rem;
  transition: filter 250ms;
}

.bottom-slogan__cta:hover {
  filter: brightness(1.2);
}

.bottom-slogan__image {
  margin-top: 4.8rem;
  max-width: 23.9rem;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.5rem;
}

.footer__logo {
  width: 12rem;
}

.footer__text {
  font-size: 1.4rem;
  color: var(--gray-200);
  margin-top: 3.2rem;
}

@media (min-width: 768px) {
  /* Presentation */
  .presentation {
    flex-direction: row;
  }

  .presentation__description-container {
    align-items: flex-start;
    margin-right: 7.2rem;
  }

  .presentation__title {
    text-align: left;
    font-size: 2.6rem;
    line-height: 3.6rem;
  }

  .presentation__text {
    text-align: left;
  }

  .presentation__image {
    margin-top: 0;
  }

  /* About us */
  .about-us {
    flex-direction: row;
  }

  .about-us__description-container {
    margin-right: 9rem;
  }

  .about-us__tag {
    text-align: left;
  }

  .about-us__title {
    text-align: left;
    font-size: 2.6rem;
    line-height: 3.6rem;
  }

  .about-us__text {
    text-align: left;
  }

  .about-us__image {
    margin-top: 0;
  }

  /* Services */
  .services__title {
    font-size: 2.6rem;
    line-height: 3.6rem;
  }

  .services__items-container {
    display: flex;
    align-items: baseline;
  }

  .services__item {
    width: 100%;
  }

  /* Bottom slogan */
  .bottom-slogan-container {
    padding: 0;
  }

  .bottom-slogan {
    flex-direction: row;
  }

  .bottom-slogan__text {
    font-size: 2.6rem;
    line-height: 3.6rem;
  }

  .bottom-slogan__image {
    margin-top: 0;
  }
}
